<section class="content">
  <!-- Cabeçalho do conteúdo (acompanha o layout do sistema) -->
  <header class="content-header">
    <div class="title-wrap">

      <h1>Cadastro de Curso</h1>
      <p>Preencha os dados do curso para cadastrar no sistema.</p>
    </div>
    

  </header>

  
  <!-- Card -->
  <div class="card">
    <div class="card-head">
      <div class="card-title">Dados do Curso</div>
      <div class="card-subtitle">Campos com * são obrigatórios</div>
    </div>

   <div *ngIf="mostrarAlert" class="alert-cursos" role="alert">
  <div><strong>Sucesso!</strong> Curso salvo com sucesso!</div>

  <button type="button" class="alert-close" (click)="fecharAlert()" aria-label="Close">
    ✕
  </button>
</div>



    <form class="form" [formGroup]="form">
      <div class="grid">
      
        <!-- Nome -->
       <div class="form-group col-9">
          <label for="nome">Nome do Curso <span class="req">*</span></label>
          <input id="nome" type="text" formControlName="nomeCurso"/>

          <small class="field-error"
            *ngIf="form.controls.nomeCurso.touched && form.controls.nomeCurso.hasError('required')">
            Nome obrigatório
          </small>
        </div>


         <div class="form-group date-sm">
            <label>Data de cadastro <span class="req">*</span></label>
            <input type="date" formControlName="dataCadastro" readonly />
          </div>
        <!-- Carga -->
            <div class="form-group col-3">
        <label for="carga">Carga Horária <span class="req">*</span></label>
        <input id="carga" type="number" formControlName="cargaHoraria" />

        <small class="field-error"
          *ngIf="form.controls.cargaHoraria.touched && form.controls.cargaHoraria.hasError('required')">
          Carga horária é obrigatória
        </small>

        <small class="field-error"
          *ngIf="form.controls.cargaHoraria.touched && form.controls.cargaHoraria.hasError('min')">
          Carga horária deve ser no mínimo 1
        </small>
      </div>

        <!-- Validade -->
        <div class="form-group col-3">
          <label for="validade">Validade (meses)</label>
          <input id="validade" type="number" formControlName="validadeCertificado" />
        </div>

        <!-- Descrição -->
        <div class="form-group col-9">
          <label for="descricao">Descrição</label>
          <textarea
            id="descricao" rows="4" formControlName="descricao"></textarea>
        </div>
      </div>

      <!-- Ações (duplicadas aqui embaixo pra UX; se não quiser, pode remover) -->
      <div class="actions">
        <button type="button" class="btn btn-ghost" (click)="limpar()">
          Limpar
        </button>
        <button type="button" class="btn btn-primary" (click)="salvar()">
          Salvar
        </button>
      </div>
    </form>
  </div>
</section>
