<aside class="sidebar">
<a class="sidebar__item"
   routerLink="/home"
   routerLinkActive="active">

    <i class="bi bi-house-fill"></i>

    Home
</a>
  <!-- ================== CADASTRO ================== -->
 <div class="sidebar__section-title"
     (click)="toggleCadastro()">

  <div class="menu-title">
    <i class="bi bi-folder2-open"></i>
    <span>Cadastro</span>
  </div>

  <span class="arrow">
    {{ cadastroAberto ? '▼' : '▶' }}
  </span>

</div>

<nav
  class="sidebar__nav" *ngIf="cadastroAberto">

  <a class="sidebar__item" routerLink="/cursos"routerLinkActive="active">
    <i class="bi bi-journal-bookmark-fill"></i>
      Curso
  </a>

  <a class="sidebar__item" routerLink="/participante"routerLinkActive="active">
    <i class="bi bi-person-fill"></i>
     Participante
  </a>

  <a class="sidebar__item"routerLink="/cadastro-usuario" routerLinkActive="active">
    <i class="bi bi-people-fill"></i>
      Usuário
  </a>

</nav>
  <!--<a class="sidebar__item" routerLink="/novo-curso" routerLinkActive="active">-->
 <div class="sidebar__section-title"
     (click)="toggleLancamento()">

    <div class="menu-title">
        <i class="bi bi-clipboard-check-fill"></i>
        <span>Lançamento Voluntário</span>
    </div>

    <span class="arrow">
        {{ lancamentoAberto ? '▼' : '▶' }}
    </span>

</div>

<nav
  class="sidebar__nav"
  *ngIf="lancamentoAberto">

  <a class="sidebar__item" routerLink="/certificados"routerLinkActive="active">
     <i class="bi bi-award-fill"></i>
      Certificados
  </a>

  <a class="sidebar__item" routerLink="/lancamentos"routerLinkActive="active">
     <i class="bi bi-file-earmark-plus-fill"></i>
      Lançamentos
  </a>

</nav>

 <div class="sidebar__section-title"
     (click)="toggleRelatorio()">
 <i class="bi bi-bar-chart-fill"></i>
  Relatórios

  <span class="arrow">
    {{ relatorioAberto ? '▼' : '▶' }}
  </span>

</div>

<nav
  class="sidebar__nav"
  *ngIf="relatorioAberto">

  <a class="sidebar__item"
     routerLink="/relatorio-participantes"
     routerLinkActive="active">
     <i class="bi bi-file-earmark-person-fill"></i>

      Participantes
  </a>

  <a class="sidebar__item"
     routerLink="/relatorio-certificado-vencer"
     routerLinkActive="active">
     <i class="bi bi-exclamation-triangle-fill"></i>
      Certificados a Vencer
  </a>

</nav>