<aside class="sidebar">

  <!-- ================== CADASTRO ================== -->
  <div class="sidebar__section-title">Cadastro</div>

  <nav class="sidebar__nav">
    <a class="sidebar__item" routerLink="/novo-curso" routerLinkActive="active">
      Novo Curso
    </a>

    <a class="sidebar__item" routerLink="/participante" routerLinkActive="active">
      Participante
    </a>

    <a class="sidebar__item" routerLink="/certificados" routerLinkActive="active">
      Certificados
    </a>

    <a class="sidebar__item" routerLink="/lancamentos" routerLinkActive="active">
      Lançamentos
    </a>
  </nav>

  <!-- ================== RELATÓRIO ================== -->
  <div class="sidebar__section-title mt-3">Relatório</div>

  <nav class="sidebar__nav">
    <a class="sidebar__item" routerLink="/relatorio-certificados" routerLinkActive="active">
    Participante
    </a>

    <a class="sidebar__item" routerLink="/relatorio-vencimentos" routerLinkActive="active">
      Certificados a Vencer
    </a>

    <a class="sidebar__item" routerLink="/relatorio-geral" routerLinkActive="active">
      Relatório Geral
    </a>
  </nav>

</aside>
