<aside class="sidebar">
  <div class="sidebar__section-title">Cadastro</div>

  <nav class="sidebar__nav">
    <a class="sidebar__item" routerLink="/novo-curso" routerLinkActive="active">
      Novo Curso
    </a>

    <a class="sidebar__item" routerLink="/participante" routerLinkActive="active">
      Participante
    </a>

    <a class="sidebar__item" routerLink="/certificados" routerLinkActive="active">
      Certificados
    </a>

    <a class="sidebar__item" routerLink="/lancamentos" routerLinkActive="active">
      Lançamentos
    </a>
  </nav>
</aside>

